# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Eclipse
.metadata/
.classpath
.project
.settings/

# Maven and Gradle
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Log files
*.log

# OS Specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Spring Boot
.spring-boot-devtools/

# Backup and temporary files
*.swp
*.swo
*.bak
*.tmp
*.orig

# Maven Wrapper
.mvn/